.container {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  background: #EFEFEF;
  border-radius: 5px 5px 0 0;
}

.header-col {
  min-height: 30px;
  padding: 5px 15px;
  flex: 1;
}